[submodule "NFD"]
	path = NFD
	url = https://github.com/KITE-2018/NFD.git
	branch = kite19
[submodule "ndn-cxx"]
	path = ndn-cxx
	url = https://github.com/named-data-ndnSIM/ndn-cxx
	branch = ndn-cxx-0.6.5-ndnSIM
